<%!
from django.utils.translation import ugettext as _
%>

    <section class="course-content" id="course-content">
        <main id="main" aria-label="Content" tabindex="-1">

            <h2>Привет, к сожалению у тебя нет доступа к этим материалам. :(</h2>
            <p>
                Но не волнуйся, если ты добрался сюда, то  ты уже на шаг впереди в отличии от тех, кто только хочет приступить к изучению Java,.
                <br> Не останавливайся на достигнутом!
            </p>
            <p class="sequential-status-message">
                Чтобы получить доступ к новым материалам, нужно внести оплату.
                <br>Свяжись с нами по почте <b>sales@juja.com.ua</b> или в <b>slack чате.</b>
                <br>Инвестируй в свое будущее!
            </p>
         </main>
    </section>